* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #dddddd;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: #21201f;
}

a,
p {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
}

span {
  text-decoration: none;
  font-size: 1.25rem;
  color: #fff;
}

@media (max-width: 1366px) {
  a {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  a {
    font-size: 1rem;
  }
}
